<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-bg">
<div class="text"> 
      <p style="text-align: center;">Welcome to Weather Wizard!</p>
      <p style="text-align: center;">This App was created as part of my module!</p>
      <p style="text-align: center;">In this app i used OpenWeatherMap API</p>
      <p style="text-align: center;">In order to help me complete this app i gathered information from different sources such as our college moodle page, forums and Ionic Framework</p>
      <p style="text-align: center;">I hope you enjoy using this app!</p>
</div>

<ion-button class="custom-button" (click)="backToHome()">Home</ion-button>
</ion-content>
