.custom-bg {
    --background: linear-gradient(135deg, #0959f0, #00fff7);
  }

  .custom-button {
    display: block;
    width: 55%;
    margin-bottom: 10px;
    margin-left: 70px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
  }