
.custom-bg {
  --background: linear-gradient(135deg, #0959f0, #00fff7);
}

ion-card{
  background-color: #fff;
  border-radius: 10px;
;
}

.let {
  font-weight: bolder;
  color: #333; /* Adjust text color */
}

ion-item span[slot="end"] {
  color: #555;
}

.num
{
  font-weight:bold;
}


